{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
info-typer.environment-name     = {{ env "DE_ENV" }}

info-typer.type-attribute       = ipc-filetype
info-typer.filetype-read-amount = 1024

# iRODS configuration
{{ with $v := (key (printf "%s/irods/host" $base)) }}info-typer.irods.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/port" $base)) }}info-typer.irods.port = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/zone" $base)) }}info-typer.irods.zone = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/user" $base)) }}info-typer.irods.user = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/pass" $base)) }}info-typer.irods.pass = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/resc" $base)) }}info-typer.irods.resc = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/base" $base)) }}info-typer.irods.home = {{ $v }}{{ end }}

# AMQP settings
{{ with $v := (key (printf "%s/irods-amqp/uri" $base)) }}info-typer.amqp.uri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods-amqp/exchange/name" $base)) }}info-typer.amqp.exchange.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/info-typer/qos" $base)) }}info-typer.amqp.qos = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/amqp/uri" $base)) }}info-typer.events.amqp.uri = {{ $v }}{{ end }}
{{- end -}}
